:root {
  --background-color: #eaeaea;
  --header-footer-background: #1c3146;
  --header-color: #dce4f0;
  --header-hover-color: #a9c0e0;
  --link-color: #6b9dceef;
  --form-background: white;
  --form-border-color: #ccc;
  --button-background: #1c3146ef;
  --button-hover-background: #1c3146ff;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

a {
  text-decoration: none;
  font-weight: bold;
  color: var(--link-color);
}

h1, h2, h3 {
  margin: 0;
}

input {
  padding: 0.5em;
  border: 1px solid var(--form-border-color);
  transition: border-color 0.3s;
}

input:focus {
  border-color: var(--header-hover-color);
  outline: none;
}

header {
  background-color: var(--header-footer-background);
  color: var(--header-color);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  font-size: 20px;
  text-decoration: none;
  color: var(--header-color);
  opacity: 0.8;
}

header nav a {
  margin: 0 15px;
  font-weight: normal;
  color: var(--header-color);
}

header nav a:hover {
  text-decoration: underline;
  color: var(--header-hover-color);
}

main {
  padding: 20px;
  min-height: calc(100dvh - 80px);
  display: flex;
  flex-direction: column;
  gap: 1em;
}

footer {
  background-color: var(--header-footer-background);
  color: white;
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

form, .form, .task {
  background: var(--form-background);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1em;
}

form label {
  display: block;
  margin: 10px 0 5px;
}

form input, form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--form-border-color);
  border-radius: 5px;
}

textarea {
  resize: vertical;
}

form input[type=submit] {
  color: white;
  border: none;
  cursor: pointer;
  background-color: var(--button-background);
  transition: background-color 0.3s;
}

form input[type=submit]:hover {
  background-color: var(--button-hover-background);
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.row05 {
  display: flex;
  gap: 0.5em;
}

.list05 {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.flex1 {
  flex: 1;
}

.border-gray {
  border: 1px solid var(--background-color);
}

.profile-container {
  background: var(--form-background);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.profile-description {
  margin-top: 10px;
}

.task-price::after {
  content: ' $';
}

.auth-link {
  text-align: center;
}